packages/
.vs/
publish/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/

.local/
*.local.json

UpgradeLog*.htm
*.user

node_modules/
/webPublish
*.psess
*.vspx
/App/Jtbrl.Web/jtbrl-web.log
/App/Jtbrl.AttendanceServer/InstallPackage
/asn.Tool/plugins
/asn.Runtime.Plugins/lib
